@import "variables";

.element-m-spacing-none{
  margin: 0;
}

.element-m-spacing-h{
  margin: 0 $DEFAULT_ELEMENT_SPACING;
}

.element-m-spacing-v {
  margin: $DEFAULT_ELEMENT_SPACING 0;
}

.element-m-spacing-t {
  margin-top: $DEFAULT_ELEMENT_SPACING;
}

.margin-m-spacing-t025 {
  margin-top: 0.25rem;
}

.element-m-spacing-b {
  margin-bottom: $DEFAULT_ELEMENT_SPACING;
}

.element-p-spacing-none {
  padding: 0;
}

.element-p-spacing-h {
  padding: 0 $DEFAULT_ELEMENT_SPACING;
}

.element-p-spacing-v {
  padding: $DEFAULT_ELEMENT_SPACING 0;
}
